.welcome-info {
    position: fixed;
    z-index: 2;
    top: 50%;
    transform: translateY(-45%);
    left: 60px;
    width: 400px;
    height: 70vh;
    border: 2px solid #66B244;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(90deg, black, rgba(0, 0, 0, .5));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
    font-size: 1.2rem;
    h4 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #66B244;
    }
}

.scroll-info {
    transform: translateY(0%);
    top: 100px;
}