header {
    position: fixed;
    height: 100px;
    width: 100vw;
    top: 0px;
    background-color: black;
    border-bottom: 1px solid black;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 20px #000000;
    z-index: 3;
    transition: height .5s;
    #logo-content-container {
        align-self: center;
        display: flex;
        height: 100%;
        align-items: center;
        img {
            position: absolute;
            height: 100px;
            top: 0px;
            transition: all .5s;
        }
        .logo-text {
            margin-left: 80px;
            position: relative;
            top: 2px;
            transition: all .5s;
            margin-right: 10px;
            h1 {
                height: 2.2rem;
                color: #b9b9b9;
                font-size: 2.2rem;
                word-spacing: -20px;
                font-family: 'Rubik Mono One', sans-serif !important;
            }
            h2 {
                height: 2rem;
                position: relative;
                top: -6px;
                color: #66B244;
                font-size: 2rem;
                word-spacing: 3px;
                transform: scale(1, .7);
            }
        }
        .logo-contact {
            height: 100%;
            border-left: 1px solid white;
            padding-left: 10px;
            h3 {
                height: 50%;
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                svg {
                    height: 1.5rem;
                    width: 2rem;
                    color: #66B244;
                }
            }
            
        }
        
    }

    nav {
        ul {
            display: flex;
            li {
                position: relative;
                font-size: 1.5rem;
                margin-left: 20px;
                padding-left: 5px;
                list-style-type: none;
                border-left: 2px solid black;
                cursor: pointer;
                transition: color .2s;
                .nav-line {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 0px;
                    height: 2px;
                    background-color: #66B244;
                    // opacity: 0;
                    transition: all .2s ease-in;
                }
                .nav-top-line {
                top: 0px;
                }
                &:hover {
                    color: #66B244;
                    border-left: 2px solid #66B244;
                    .nav-line {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.scroll-header {
    height: 60px;
}

.hide-logo {
    height: 60px !important;
    opacity: 0;
}

.scroll-logo-text {
  margin-left: 0 !important;
}

  
